.fancybutton {
  background-color: #b1b1b1;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 10pt;
  color: rgb(0, 0, 0);
  font-weight: 600;
  padding: 1%;
  max-height: 100%;
  min-height: 100%;
}
.fancybutton:active{
  background-color: #888888;
}
