<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Inicia Sesion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="containerLogin">
    <img src="../../assets/loginBackground.jpg" width="100%"alt="">
  </div>

  <ion-item>
    <ion-label position="floating">Usuario: </ion-label>
    <ion-input type="text" color="dark"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña: </ion-label>
    <ion-input type="text" color="dark"></ion-input>
  </ion-item>

  <ion-button expand="block" color="dark" (click)="goToInicio()">Iniciar Sesion</ion-button> 
</ion-content>

<ion-footer textAlign="center">
    <small>All Rights Reserved from a2 Softway 2019/2020. Juan Alvarez</small>
</ion-footer>